<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rebon/Documents/pega-automation-framework">
    <classes>
        <class name="com.maantic.automation.tests.SearchContactTest">
            <methods><include name="TC_01_VerifySearchingNewlyCreatedContact"/></methods>
        </class>
    </classes>
</test>
</suite>